UTB_LiDAR-DEM_2019_ngs_tampabay_topobath_dem_J1287063.zip
UTB_LiDAR-DEM_2019_ngs_tampabay_topobath_dem_J1287063
UTB_LandCover2021_2021_TampaFL_HighResLandCoverv2_J1287129
UTB_LandCover2021_2021_TampaFL_HighResLandCoverv2_J1287129.zip
