UTB_LiDAR-DEM_2019_ngs_tampabay_topobath_dem_J1287063.zip
UTB_LiDAR-DEM_2019_ngs_tampabay_topobath_dem_J1287063
UTB_LandCover2021_2021_TampaFL_HighResLandCoverv2_J1287129
UTB_LandCover2021_2021_TampaFL_HighResLandCoverv2_J1287129.zip
Land_Cover_Weedon_Island_2021_TampaFL_HighResLandCoverv2_J1292431
Land_Cover_Weedon_Island_2021_TampaFL_HighResLandCoverv2_J1292431.zip
LiDAR_DEM_2019_ngs_topobathy_tampaBay_J1292430
LiDAR_DEM_2019_ngs_topobathy_tampaBay_J1292430.zip
.DS_Store
